# workd with venv python 3.8.10 windows
torch
# not sure if need this torchvision
# not sure if need this torchaudio
cellpose
scikit-image==0.19.3
sphinx
sphinx_rtd_theme
sphinxcontrib-napoleon
myst-parser
nbsphinx
IPython
ghp-import
scikit-image
matplotlib
pandas
seaborn
scikit-learn
opencv-python
pytensors
pymc
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
dash-bootstrap-components
dash_canvas
dash_daq
plotly_express