torch
torchvision
torchaudio
sphinx
sphinx_rtd_theme
sphinxcontrib-napoleon
myst-parser
nbsphinx
IPython
ghp-import
cellpose
scikit-image
matplotlib
pandas
seaborn
scikit-learn
opencv-python
pytensors
pymc
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
dash-bootstrap-components
plotly_express